<div class="verdatos-body">
  <div class="verdatos-container">
    <button class="back-button" (click)="goBack()">Regresar</button>
    <h2>Ver Datos del Usuario</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Description</th>
          <th>Expense Date</th>
          <th>Stock</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expense of expenses | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
          <td>{{ expense.id }}</td>
          <td>{{ expense.type }}</td>
          <td>{{ expense.amount }}</td>
          <td>{{ expense.description }}</td>
          <td>{{ expense.expense_date }}</td>
          <td>{{ expense.stock ? 'Yes' : 'No' }}</td>
          <td>
            <button (click)="onEdit(expense.id)">Editar</button>
            <button (click)="onDelete(expense.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
  </div>
</div>
